<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.c0rporation.broodminderexporter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BroodMinderExporter"
        android:usesCleartextTraffic="true">
        <!-- usesCleartextTraffic to enable http traffic for debugging -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.BroodMinderExporter.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="content"
                    android:host="*"
                    android:mimeType="*/*" />
                <!-- Google you absolute bunch of retards. How the fuck did you ever think
                that this was an acceptable way to handle file names. There is no universe
                in which it is sensible to make .* a non-greedy match, ESPECIALLY WHEN YOU
                CAN'T OVERRIDE IT AND MAKE IT GREEDY IF YOU WANT IT TO BE. Seriously, fuck
                whatever developer implemented the pathPattern matching code. -->
                <data android:pathPattern=".*\\.db3" />
                <data android:pathPattern=".*\\..*\\.db3" />
                <data android:pathPattern=".*\\..*\\..*\\.db3" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.db3" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.db3" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.db3" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.db3" />
            </intent-filter>

        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>